<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="space">Login Task Manager App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="space">
      <h1 class="center-loc">Task Manager App</h1>
    </ion-item>

  </ion-list>
  
    <ion-item lines="full">
      <ion-label position="stacked" >Email</ion-label>
      <ion-input type="e-mail" required placeholder="Enter your e-mail"
      [{ngModel}]="e-mail" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked" >Password</ion-label>
      <ion-input type="password" required placeholder="Enter password"[{ngModel}]="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" shape="round" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>
  
  <ion-button fill="clear" href ="/signup"color="danger" expand="block">Dont you have an account? Sign up!</ion-button>

</ion-content>
